


<div class="table-view">
	<table>
		<caption>LIST OF CONFIRMATION_TYPES</caption>
		<thead>
			<tr>
				<th> BIT_POSITION</th>
				<th> CONFIRMATION_TYPE  </th>
				<th> BIT_VAL</th>


			</tr>
		</thead>
<tbody>
<% @confs.each do |f| %>
	<tr data-href="<%= edit_confirmation_type_tbl_path(f) %>" class="theShower text-center">
		
			<td><%=f.BIT_POSITION%></td>
			<td><%=f.CONFIRMATION_TYPE%></td>
			<td><%=f.BIT_VAL%></td>
			<% if current_user.admin? %>	<!-- add this too -->
					<td class="deleter"><%= link_to "x", f , method: :delete, data: { confirm: "You sure?" } %></td>	<!-- add this too -->
				<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
	</div>
	<!--<%= link_to 'New', new_confirmation_type_tbl_path %>-->
	<%= link_to 'Add', new_confirmation_type_tbl_path, class: "add-new-table" %>
