
<h1>CREATE CRITICALITY_TBL </h1>
<div class="perfect-forms">
<%= form_for(@crity) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="form-row">
  <%= f.label :CRITICALITY %>
  <%= f.text_field :CRITICALITY, class: 'form-control' %> 
</div>

<div class="form-row">

  <%= f.submit 'Create', class: "btn btn-primary" %>
   </div>
<% end %>
</div>