


<div class="table-view">
	<table>
		<caption>LIST OF SUBSYSTEM COMMANDS</caption>
		<thead>
			<tr>
				<th> UI_TYPE_ID   </th>
				<th> UI_TYPE </th>
			</tr>
		</thead>
		<tbody>
		<% @ui_types.each do |f| %>
		<tr data-href="<%= edit_ui_types_tbl_path(f) %>"  class="theShower text-center">
	
		
		<td><%= f.UI_TYPE_ID    %></td>
				<td><%= f.UI_TYPE%></td>
				
				
				<% if current_user.admin? %>	<!-- add this too -->
					<td class="deleter"><%= link_to "x", f , method: :delete, data: { confirm: "You sure?" } %></td>	<!-- add this too -->
				<% end %>
			
		</tr>	
		<% end %>
		</tbody>
	</table>

	</div>
	<%= link_to 'Add', new_ui_types_tbl_path, class: "add-new-table" %>